@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300&display=swap");
* {
  scroll-behavior: smooth;
}

:root {
  --Very-dark-desaturated-blue-color: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue-color: hsl(213, 9%, 39%);
  --Dark-grayish-blue-color: hsl(232, 10%, 55%);
  --Grayish-blue-color: hsl(210, 4%, 67%);
  --white-color: hsl(0, 0%, 100%);
  --Dark-desaturated-cyan-color: hsl(168, 33%, 3%);
  --footer-color: hsl(0, 8%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  margin: 2em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgb(28, 27, 27);
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 50%;
  min-height: 100vh;
  display: block;
  background-color: rgba(122, 117, 117, 0.527);
  padding-top: 120px;
  transition: 0.4s;
  z-index: 0;
}

.mobile-nav.is-active {
  left: 50%;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  color: #FFF;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: rgba(255, 255, 255, 0.594);
}

a {
  text-decoration: none;
  color: grey;
}

ul {
  list-style: none;
  color: var(--white-color);
}

body {
  font-size: 18px;
  font-family: "Inria Serif", serif;
}

.navOne li {
  margin-left: 3em;
  color: var(--Dark-desaturated-cyan-color);
}

.contact {
  cursor: pointer;
  color: var(--Very-dark-desaturated-blue-color);
  border-radius: 40px;
  font-size: 10px;
  font-family: "Fraunces", sans-serif;
  border: solid 0 var(--white-color);
  padding: 0 2em 0 2em;
  height: 100%;
  background-color: var(--white-color);
  margin-left: 4em;
  margin-right: 3em;
}

.arrow {
  position: absolute;
  right: 4%;
  bottom: 0;
}

.main-page {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url(../images/elephant-1822636_1280.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonials-profile {
  width: 100%;
  padding: 2em;
}

.main-bg {
  width: 100%;
  height: 100%;
}

.nav-bar {
  position: sticky;
  z-index: 90;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: transparent;
  justify-content: space-between;
  align-content: center;
  padding: 2em;
}

.page-title {
  font-weight: bold;
  color: var(--Dark-desaturated-cyan-color);
  letter-spacing: 0.25em;
  margin-top: 1em;
  margin-bottom: 2em;
  font-weight: 900;
}

h1 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.about-bg {
  width: 100%;
}

.about-content1, .about-content2 {
  padding: 5em;
}

#projects {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
#projects img {
  height: 100%;
}

a {
  color: var(--white-color);
}

.navOne {
  display: none;
  font-weight: bold;
  cursor: pointer;
  color: var(--Dark-desaturated-cyan-color);
  align-items: center;
}

.logo {
  padding: 0.5em;
}

#services {
  text-align: center;
}

.profiles {
  text-align: center;
  align-items: center;
  display: grid;
  padding: 2em;
}
.profiles .comment {
  width: 100%;
  padding: 1em;
}
.profiles h3 {
  padding-top: 2em;
  padding-bottom: 0.5em;
}
.profiles img {
  width: 30%;
  border-radius: 90%;
}

#projects img {
  width: 100%;
}

.nav-icons {
  padding: 1em;
}
.nav-icons .icon {
  width: 20px;
  margin: 0em 2em 0em 2em;
}
.nav-icons a {
  padding: 0.5em;
}

footer {
  padding: 2em;
  text-align: center;
  height: 100%;
  color: var(--Dark-desaturated-cyan-color);
  background-color: var(--footer-color);
}
footer h1 {
  padding: 0.5em;
  margin: 0em;
}
footer .navTwo {
  text-align: center;
  width: 100%;
  font-weight: bold;
  padding-bottom: 2em;
  justify-content: center;
  display: flex;
  color: var(--Dark-desaturated-cyan-color);
}
footer .navTwo li {
  margin: 0 3em 0 3em;
  color: var(--Dark-desaturated-cyan-color);
}

@media only screen and (min-width: 980px) {
  .nav-bar {
    display: flex;
  }
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .profiles {
    display: flex;
  }
  .profiles img {
    width: 30%;
    border-radius: 90%;
  }
  .about-content1 {
    padding: 5em;
    grid-row: 1/1;
    grid-column: 1/1;
  }
  .about-page {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .about-page img {
    height: 100%;
  }
  #projects {
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
  .navOne {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */
